# Dependencies
node_modules/
.DS_Store

# Build
build/

# Environment
.env
.env.local
.env.*.local

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
